<% unless questions.nil? & count.nil? %>
  <% if count > 10 %>
    <p>
      <%= h "A sample of words which the selected glossary contains (total #{h count})" %>
    </p>
    <% for question in questions %>
      <p class="sample_questions"><%= h "#{question.question} - #{question.answer} "%></p>
    <% end %>
    .<br>.
  <% else %>
    <p>
      <%= h "Words which the glossary currently contains (total: #{h count})" %>
    </p>
    <% for question in questions %>
      <p class="sample_questions"><%= h "#{question.question} - #{question.answer} "%></p>
    <% end %>

  <% end %>  
<% end %>

