<% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>

<% form_for :user, :url => {:action => 'forgot_password'} do %>

<h3>Forgotten password</h3>
Email: <%= text_field "user","email" %><br/>
<%= submit_tag 'Email password', :name => nil %>

<% end %>