<% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>

<% form_for :user, :url => {:action => 'forgot_password'} do %>

<h3>Enter the email address which you've registered with</h3>
<p>
  Email: <%= text_field "user","email" %>
</p>
<p>
<%= submit_tag 'Email new password', :name => nil %>
</p>
<% end %>