<%= link_to 'Search!', search_tandems_url, :class => "large blue button" %> 
<% if logged_in? %>
<%= link_to 'Insert new tandem post', new_tandem_url, :class => "large blue button" %> 
<% end %>

<% if @tandems.count < 1 %>
	<p>
		Sorry we couldnt find any tandem partners in this area for you!
	</p>	
<% end %>
<% @tandems.each do |tandem| %>
	<div class="tandem-post">
		<%= render :partial => 'tandem', :locals => 
		                   { :post => tandem } %>
		<div style="clear: both;">
	</div>	
<% end %>

