<%= render :partial => 'tandem', :locals => 
	                   { :post => @tandem } %>

<%= link_to 'Remove post', @tandem, 
					        :class => "list-actions", :confirm => 'Are you sure?', 
					        :method => :delete %></td>

