<div class="home-left">
    <h2>Easily find your Language exchange partner on linguar.com</h2>
    <h3>Are you learning a language? Thinking of starting a new one?</h3>
    <p>If so, this is the site for you. Whatever your level, Linguar 
    has some useful tools that will help you expand your vocabulary and find people to practice with - and it's all free.</p>
<p>
    You can use the <b>vocabulary trainer</b> to save flashcards with all the handy new words you come across. 
    Learning them is quick and fun with our intelligent online program and you can even share them with your friends.
    </p>
    <p>In the language exchange partner forum you can find a native speaker to <b>practice face-to-face</b> in your area,
     chatting on <b>Skype or MSN, or as an email pen pal</b>. When you help each other with your own language, you will be 
     amazed how quickly you can progress!
     </p>
     <p>Get started now! </p>
     
     <p>
        <%= link_to 'Browse language partners', tandems_path, :class => "blue button" %>
        <%= link_to 'Register for the vocabulary trainer', register_path, :class => "blue button",:rel => 'nofollow' %> 
    </p>
</div> 
<div class="home-right">
  Already a member?
  <%= link_to 'login', login_path, :rel => 'nofollow' %>
  <%= image_tag "stock-students.jpg" %>
</div> 
<div class="clear"> </div>