<div class="home-left">
    <h1>Linguar - Language learning community</h1>
    
    <h2>Are you learning a language? Thinking of starting a new one?</h2>
    <p>If so, this is the site for you Whatever your level, Linguar 
    has some useful tools that will help you expand your vocabulary and find people to practice with - and it's all free.
    You can use the vocabulary trainer to save flashcards with all the handy new words you come across. 
    Learning them is quick and fun with our intelligent online program and you can even share them with your friends.
    </p>
    <p>In the language exchange forum you can find a native speaker to practice with  face-to-face in your area,
     chatting on Skype or MSN, or as an email pen pal. When you help each other with your own language, you will be 
     amazed how quickly you can progress!
     </p>
     <p>Get started now! </p>
     
     <p>
      <%= link_to 'Register Free', register_path, :class => "large blue button" %> 
    </p>
</div> 
<div style="text-align: right; margin: 5px 10px 5px 0px;">
  Already a member?
  <%= link_to 'login', login_path %>
</div> 
<div class="clear"> </div>